<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dGPT.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <dGPT.Settings1>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="temperature" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="frequencyPenalty" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="presencePenalty" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="bestOf" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="topProbability" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startupVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Model" serializeAs="String">
                <value>gpt-3.5-turbo</value>
            </setting>
            <setting name="Modifier" serializeAs="String">
                <value>WIN</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>C</value>
            </setting>
        </dGPT.Settings1>
    </userSettings>
</configuration>